extends layout

block content
  <canvas id="glCanvas"></canvas>
  script( src="javascripts/canvas.js")



  <button id='samplefile'>Load Sample File </button><input type="file" id="csv-file" name="files"/>
  #orientation
  #accelerometer
  #gravity
  #gyroscope
  #linearacceleration
  #light
  #magneticfield
  #proximity
  #atmosphericpressure
  #soundlevel
  #locationaltitude
  #locationspeed
  #locationaccuracy
  #satellitesinrange


  script( src="javascripts/graphs.js")
